// This is test
@import 'mixins';

body {
  @include display-flex();
  @include justify-content(center);
  @include align-items(center);
  @include dimensions(100%, 100%);
  font-family: sans-serif;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

#content {
  padding: 2em;
  @include border-radius(1em);
  background: rgba(147,128,108,.3);
  max-width: 50%;
  text-align: center;

  .error {
    color: #f00;
    margin-bottom: 1em;
  }

  input {
    @include input();
    font-size: 1.3em;
    font-weight: bold;
    width: 5em;
  }

  button.continue, button.cancel {
    @include button(rgba(147,128,108,.8), #eee, rgb(147,128,108), rgba(147,128,108,.6));
    margin-top: 1em;
    padding: .5em 1em;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
  }

  button.openbucks {
    @include reset-box();
    background: transparent;
    margin-top: 2em;
    position: relative;
    top: -1px;

    &:active {
      @include box-shadow(none);
      top: 1px;
    }

  }

}
